[submodule "backend-test"]
	path = backend-test
	url = https://github.com/oskioski03/backend-test.git
[submodule "frontend-test"]
	path = frontend-test
	url = https://github.com/oskioski03/frontend-test.git
